.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--secondary-color);
  font-size: 2rem;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-color-hover);
  }

  &:active {
    transform: scale(1.1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }
}
