@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
}

:root {
  /* Font */
  --f-family: "Manrope", sans-serif;
  --f-weight: 700;
  --f-size: 16px;

  /* Color */
  --bg-color: #416645;
  --primary-color: #407847;
  --secondary-color: #fead38;
  --secondary-color-hover: #eb8c08;

  --error-color: #fe3838;
  --error-bg: #ff8181;
  --white: #ffffff;
  --black: #000000;
  --grey: #949494;
  --honeydew: #dce9de;
}

html {
  font-size: var(--f-size);
}

body {
  font-family: var(--f-family);
  font-weight: var(--f-weight);
  background-color: var(--bg-color);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 100vh;
}

.box {
  width: 100%;
  max-width: 450px;
  height: 380px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 2rem;
  background-color: var(--primary-color);
  border: 2px solid var(--white);
  padding: 1rem;
  border-radius: 10px;

  &__top,
  &__bottom {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--white);
    border-radius: 10px;
    gap: 1rem;
  }

  &__top {
    flex-direction: column;
  }

  &__bottom {
  }
}

.counter-value {
  font-size: 5rem;
  color: var(--white);
  &_max {
    font-size: 6.5rem;
    color: var(--error-color);
  }
}

.display {
  color: var(--white);
  font-size: 1.5rem;
}

.display_error {
  font-size: 1.5rem;
  color: var(--error-color);
}

.field-error {
  border-color: var(--error-color) !important;
  background-color: var(--error-bg);
}
